.project-card{
  height: 30vh;
  overflow: hidden;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}
.project-card-container{
  min-width: 400px;
  width: 60%;
  min-height: 40vh;
}
.img-box, .detail, .img-box  img{
  width: 100%;
  height: 100%;
}

.project-card .img-box{
  position: relative;
}
.project-card .img-box img{
  transition: transform .4s ;
}
.project-card:hover .img-box img{
  transform: rotate(2deg) scale(1.15);
}

.project-card .detail{
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .1s ease-in-out;
}
.project-card .detail .content{
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  text-align: center;
  transition: all .3s ease-in-out;
}
.project-card:hover .detail{
  background-color: rgba(255, 255, 255);
}
.project-card:hover .detail .content{
  top: 50%;
  transform: translateY(-40%);
}

.project-card .detail .content .title{
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2em;
}

.project-card .detail .content .description>span{
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: .2em;
  color: rgba(0, 0, 0, .5);
}

.tech-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1em;
}
.tech-container::before{
  content:"";
  border-bottom: 1px solid red;
  position: absolute;
  width: 35%;
  height: 0;
  bottom: -5%;
  right: 50%;
  transform: translateX(50%);
}
.tech-container img{
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  margin-bottom: .2em;
}

.logo-container{
  display: flex;
  flex-direction: column;
  margin: .4em;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  
  
}
.logo-container span{
  text-transform: uppercase;
  font-size: .5em;
}
#link {
  justify-content: center;
  display: flex;
  
}
#link a{
  font-size: 2em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.808)
}
#link span{
  font-size: .5em;
}
#link div{
  display: flex;
  flex-direction: column;
  margin: 1em .5em;
  transition: all .1s ease-in-out
}
#link div:hover {
  transform: scale(1.05);
}
#link div:hover span{
  color: red;
  font-weight: 600;
}
#link div:hover a{
  color: black
}
