.about-me{
    margin-bottom: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about-me > span{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .2rem;
}
.about-me img{
    width: 12%;
    min-width: 100px;
    margin: 2em;
}

.about-me-detail-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 320px;
    align-items: center;
}
.about-me-detail-container p{
    text-align: justify;
    width: 100%;
    margin: .5em 0;
    font-style: italic;
}

#about-highlight{
    font-weight: 600;
}

