.burger-menu{
    display: none;
}
.burger-menu div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: .3s ease;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-4px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-4px,-6px);
}

@media only screen and (max-width:600px){
    .animation-link{
        opacity: 0;
        right:0 ;
        top: 0;
        transform: translate(100%,50%);
        transition: all .5s ease;
        position: absolute;
        width: 30%;
    }
    .show .animation-link{

        opacity: 1;
        transform: translate(-60%,50%);
    }
    .burger-menu{
        display: block;
    }
}