.nav-bar{
    min-width: 100%;
    padding-top: calc(5% - 2em);
    padding-left: calc(12% - 4rem);
    padding-right: calc(12% - 4rem);
    background-color:transparent;
    z-index: 4;
    align-items: center;
    display: flex;
    box-sizing: border-box; 
    justify-content: space-between;
    position: sticky;
    top: 0
}
.link-container{
    min-width: 100px;
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.link-container > a{
    text-decoration: none;
    color: #6d6d6d;
    font-weight: 600;
    transition: all .2s ease-in-out;
}
.link-container > a:hover{
    transform: scale(1.1);
    color: black
}
.link-container > .active-link{
    color: black;
}
.logo{
    width: 40px;
}
.logo img{
    width: 100%;
}

@media only screen and (max-width: 600px){
    .link-container > a:hover{
        transform: scale(1);
    }
    .nav-bar{
        padding: 0 .5rem;
    }
}