
.page-header{
    height: 80vh;
    display: flex;
    justify-content: center;
    color: black;
    position: relative;
    padding: 0 10vw;
    flex-direction: column;
    
}

.header-text{
    font-size: 1.5vw;
    width: 100%;
    transform: translateY(-60%);
    height: 200px;
}

.scroll-container{
    bottom: 5%;
    height: 10vh;
    position: absolute;
    opacity: 0;
    padding: 2em;
    box-sizing: border-box;
}
.scroll-container span{
    
    text-transform: uppercase;
    font-weight: 600;
    transition: all .2s ease-in-out;
    
}
.scroll-container span:hover{
    transform: scale(1.05);
    font-weight: 600;
    cursor: pointer;
}
.scroll-container::before, .scroll-container::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    border: 2px solid transparent;
    width: 0;
    height: 0;
    
}

.scroll-container::before {
    top: 0;
    left: 0;
    border-left-color: red;
    animation: border 1s infinite linear;
}

.scroll-container::after {
    bottom: 0;
    left: 0;
    border-left-color: rgb(184, 184, 184);
    height: 100%;
    z-index: -1;
}

@keyframes border {
    0% {
      height: 0;
      top:0;
    }
    25% {
      height: 25%;
      top:25%;
    }
    50% {
      top:50%;
      height: 30%;
    }
    75% {
      top: 75%;
      height: 30%;
    }
    100% {        
      top:100%;
      height: 0;
    }
}
